<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Adicionar Categorias</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
	<header>
		<a th:href="@{/produtos}" class="button">Produtos</a>
		<h1>Categoria - Adicionar</h1>
	</header>
	<form th:action="@{/categorias}" method="post">
		<div>
			<label for="nome">Nome:</label> <input type="text" id="nome" name="nome">
		</div>
		<div>
			<button type="submit">Adicionar Categoria</button>
		</div>
	</form>
</body>
</html>