<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Produto</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<header>
    <h1>Editar Produto</h1>
</header>
<form th:action="@{/produtos/editar}" method="post">
    <input type="hidden" id="id" name="id" th:value="${produto.id}">
    <div>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" th:value="${produto.nome}">
    </div>
    <div>
        <label for="preco">Preço:</label>
        <input type="number" step="0.01" id="preco" name="preco" th:value="${produto.preco}">
    </div>
    <div>
        <button type="submit">Atualizar Produto</button>
    </div>
</form>
</body>
</html>