<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Lista de Produtos</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
  </head>
  <body>
    <header>
      <a th:href="@{/produtos}" class="button">Produtos</a>
      <a th:href="@{/categorias}" class="button">Categorias</a>
      <a th:href="@{/tags}" class="button">Tags</a>
      <h1>Lista de Produtos</h1>
    </header>
    <div th:if="${sucesso}" class="success-message">
      <p th:text="${sucesso}"></p>
    </div>
    <div th:if="${erro}" class="erro-message">
      <p th:text="${erro}"></p>
    </div>
    <div class="button-container">
      <a th:href="@{/produtos/adicionar}" class="button">Adicionar Novo Produto</a>
    </div>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Preço</th>
          <th>Categoria</th>
          <th>Tags</th>
          <th>Ações</th>
          <th>Selecionar</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="produto : ${produtos}">
          <td th:text="${produto.id}" />
          <td th:text="${produto.nome}" />
          <td th:text="${produto.preco}" />
          <td th:text="${produto.categoria.nome}" />
                <td>
                    <span th:each="tag : ${produto.tags}" th:text="${tag.nome} + ','"></span>
                </td>

          <td>
            <a th:href="@{/produtos/editar?id={id}(id=${produto.id})}" class="button">editar</a>
          </td>
          <td>
            <form th:action="@{/produtos/deletar}" method="post" class="button-delete">
              <input type="hidden" name="id" th:value="${produto.id}" />
              <button type="submit" class="button">deletar</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
